.header{
    display:flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo{
    width: 60px;
    height: 60px;
    margin-top: 6px;
}
.nav-items ul{
display: flex;
list-style: none;

}
.nav-items li{
    margin: 10px;
    font-size: 17px;
}
.nav-items{
    margin-right: 10px;

}
.res-card{
    width: 200px;
   
   margin: 9px;
    padding: 10px;
    /* white-space: pre-line; 
    overflow-wrap: break-word;
    max-height: 300px; 
  overflow-y: auto; */

}
.filter{
    padding: 10px;
}
.food-img{
    width:100%;
    object-fit: cover;
    height: 200px;
    
}
.res-card:hover{
    outline: 1px solid black;
    cursor: pointer;
}
.resto-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenl;
}
.filter-btn:hover{
cursor: pointer;
}
.shimmer-card{
    height: 400px;
    width: 200px;
    background-color: rgb(225, 223, 223);
    margin: 9px;
    margin-top: 20px;
    padding: 10px;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenl;
}
.login-btn{
    color: azure;
    background-color: black;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}
.nav-items ul{
    display: flex;
    align-items: center;
}
.search-filter-container{
    display: flex;
    justify-content: start;
    align-items: center;
}